.categoryList {
  list-style-type: none;
}

.categoryName {
  font-weight: 700;
  color: #000;
  font-size: 18px;
  margin-right: 5px;
}

.categoryDescr {
  color: #333;
  font-size: 16px;
  margin-right: 5px;
}

.categoryText {
  color: #333;
  font-size: 16px;
}

.headCategory {
  margin-bottom: 20px;
  display: block;
}

.headCategory span {
  font-size: 20px;
}

.itemName {
  display: block;
  margin-bottom: 20px;
}

.bodyCategoryItem {
  display: block;
}
