.sidebar {
  border-right: 1px solid black;
  width: 400px;
  padding: 20px;
  background-color: beige;
  margin-right: 40px;
}

.categoryItem {
  margin: 10px;
  color: #333;
  list-style-type: none;
}

.categoryItemChildren {
  margin-left: 15px;
}

.categoryItemChildren a {
  position: relative;
  display: inline-block;
}

.categoryItemChildren a::after {
  content: "--";
  position: absolute;
  left: -10px;
  transform: translate(-50%);
}

.sidebar a {
  text-decoration: none;
}

.categoryItem:hover {
  color: lightgreen;
}
